@page
@model WeatherApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather</title>
    <link rel="stylesheet" href="Style/style.css"/>
</head>
<body onload="changeFoo(@Model.Info.TempC.ToString())">
<nav class="navbar">
    <div class="form">
        <form method="post">
            <div class="form-row">
                <label for="search">Search your city</label>
            </div>
            <div class="form-row">
                <input type="text" name="city" id="search"/>
                <input type="submit" asp-page-handler="Search" value="Search"/>
            </div>
        </form>
    </div>
    <div class="time">
        <p id="time"></p>
    </div>
</nav>

<main>
    <!-- Empty div to take space from navbar -->
    <div class="space"></div>

    <!-- User's city choose -->
    @if (@Model.Location != null)
    {
        <h1>@Model.Location.ToString()</h1>
    }

    <!-- Show the date that i take from the JSON -->
    @if (@Model.Info != null)
    {
        <div class="weather">
            <img src="@Url.Content(@Model.Info.Icon)" alt="Weather image"/>
            <p>@Model.Info.Text</p>
        </div>

        <div class="temperature">
            <img src="Image/temperature.png" alt="Temperature image"/>
            <p>@Model.Info.TempC</p>
        </div>
    }
</main>

<footer>
    
</footer>

<script src="JavaScript/time.js"></script>
<script src="JavaScript/image.js"></script>
<script src="JavaScript/footer.js"></script>
</body>
</html>